* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#formHeader {
  text-align: center;
  margin-top: 30px;
}

input,
label {
  display: block;
}

label {
  color: green;
}

input {
  width: 100%;
}

.submit {
  width: 30%;
  margin: 15px auto 0 auto;
  background-color: rgb(183, 0, 255);
  color: white;
  padding: 4px;
  border-radius: 10px;
  border-color: white;
}

.submit:hover {
  background-color: rgba(0, 0, 0, 0.724);
  cursor: pointer;
}

form {
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
  padding: 15px;
  border: 2px solid black;
}

.g-recaptcha {
  margin: 15px auto 0 auto;
  display: flex;
  justify-content: center;
}
